@media (max-width: 1320px) {

  /* 화면 너비가 1000px 이하일 때의 스타일 지정 */
  .MyPage  {
    min-width: 1320px;
    /* 최소 너비를 1000px로 설정 */
  }
}
.MyPage  {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  /* background-image: url("../img/clubr3.jpeg"); */
  object-fit: cover;
  background-color: #f4f4f4;
}

.MyPage a {
  text-decoration: none;
  color: black;
}

.MyPage .body_box h1 {
  margin-bottom: 10px;
}

.MyPage #mypage-container {
  width: 1000px;
  margin: 100px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.MyPage #mypage-id {
  text-align: center;
  margin-bottom: 50px;
}

.MyPage #mypage-id h1 {
  color: #333;
  font-size: 24px;
}

.MyPage .mypage-btn {
  background-color: #333;
  width: 450px;
  color: #fff;
  margin: 10px 0;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.MyPage .mypage-btn:hover {
  background-color: #555;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.MyPage #profile {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 0px 0px 15px gray;
  object-fit: cover;
  /* margin-bottom: 50px; */
}

/* 마이페이지 카드 스타일 */
.MyPage .body_box {
  /* --background-color: hsl(180, 20%, 90%); */
  /* background-color: rgba(0, 0, 0, 0.9); */
  border-radius: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* min-height: 100vh; */
  padding: 3rem 2rem 0 2rem;

  color: hsla(0, 0%, 0%, .6);
  background: var(--background-color);
  text-align: center;
}

.MyPage h1 {
  font-size: 3.2rem;
  padding-top: 2rem;
  text-align: center;
  color: black;
}

.MyPage h1+p {
  font-size: 1.8rem;
  text-align: center;
  color: black;
}

.MyPage .auth_main_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px !important;
  min-height: 0px !important;
  /* margin-bottom: 20px; */
}

.MyPage .wrap- {
  margin: 1rem;

  transform-style: preserve-3d;
  transform: perspective(50rem);

  cursor: pointer;
}

.MyPage .container_ {
  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;

  width: 30rem;
  height: 3rem;
  /* border: 1px solid var(--background-color); */
  /* border-bottom: 1px solid #333; */
  border-radius: 1.6rem;
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  transform: rotateX(calc(var(--rX) * 0.8deg)) rotateY(calc(var(--rY) * 0.8deg));

  background-position: var(--bX) var(--bY);
  background-size: 40rem auto;
  /* box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2); */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

  transition: transform .6s 1s;
}

/* 마이페이지 카드 안 이미지 */
.MyPage .containerImg1 {
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

.MyPage .containerImg2 {
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

.MyPage .containerImg3 {
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

.MyPage .containerImg4 {
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

.MyPage .containerImg5 {
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

.MyPage .containerImg6 {
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

.MyPage .containerImg7 {
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

/* 마이페이지 카드 안 이미지 호버효과 */
.MyPage .containerImg1:hover {
  scale: 1.02;
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

.MyPage .containerImg2:hover {
  scale: 1.02;
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

.MyPage .containerImg3:hover {
  scale: 1.02;
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

.MyPage .containerImg4:hover {
  scale: 1.02;
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

.MyPage .containerImg5:hover {
  scale: 1.02;
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

.MyPage .containerImg6:hover {
  scale: 1.02;
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}

.MyPage .containerImg7:hover {
  scale: 1.02;
  background-color: rgba(255, 255, 255, 0.8);
  /* background: url('../img/clubr2.jpeg') no-repeat center center/cover; */
}


.MyPage .container_::before,
.MyPage .container_::after {
  content: "";

  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;

  position: absolute;
  z-index: 2;

  opacity: .3;
  transition: .3s;
}

.MyPage .container_::before {
  top: 2rem;
  right: 2rem;

  border-bottom-width: 0;
  border-left-width: 0;
}

.MyPage .container_::after {
  bottom: 2rem;
  left: 2rem;

  border-top-width: 0;
  border-right-width: 0;
}

.MyPage .container--active {
  transition: none;
}

.MyPage .container--2 {
  filter: hue-rotate(20deg) saturate(140%);
}

.MyPage .container--3 {
  filter: hue-rotate(160deg) saturate(140%);
}

.MyPage .container--4 {
  filter: hue-rotate(20deg) saturate(140%);
}

.MyPage .container_ span {
  /* color: hsla(0, 0%, 100%, .6); */
  color: black;
  font-size: 1.2rem;
}



.MyPage .wrap-:hover .container_::before,
.MyPage .wrap-:hover .container_::after {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}

.MyPage .abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  font-size: 1.6rem;
}

.MyPage .fi {
  font-size: 30px;
  margin-top: 5px;
}