@media (max-width: 1320px) {
    /* 화면 너비가 1000px 이하일 때의 스타일 지정 */
    .LiveBoardInsert body {
        min-width: 1320px; /* 최소 너비를 1000px로 설정 */
    }
}

.LiveBoardInsert #insertContainer {
    margin: 200px 0;
}

.LiveBoardInsert html,
.LiveBoardInsert body {
    height: 100%;
}

.LiveBoardInsert body {
    margin: 0;
    background: rgb(248, 249, 250);
    /* background: linear-gradient(45deg, #49a09d, #5f2c82); */
    font-family: sans-serif;
    font-weight: 100;
}

.LiveBoardInsert #topContent {
    /* height: 800px;
    margin: 20px 0;
    background: linear-gradient(180deg, #916ea9, rgb(248, 249, 250)); */
    margin: auto;
    width: 1320px;
    margin-top: 100px;
}

.LiveBoardInsert #insertContainer {
    margin-top: 50px;
}

.LiveBoardInsert #insertContainer>h1 {
    color: black;
}

.LiveBoardInsert #insertContainer>.page-box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1320px;
    margin-bottom: 10px;

}

.LiveBoardInsert #insertContainer select, 
.LiveBoardInsert input {
    padding: 10px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    color: black;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    border-style: none;
    width: 1000px;
    border-bottom: 1px solid rgb(41, 43, 50);
}

.LiveBoardInsert #insertContainer>.page-box>.search_item {

}

.LiveBoardInsert .tableContainer {
    display: flex;
    justify-content: center;
}

.LiveBoardInsert table {
    width: 1320px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.LiveBoardInsert th,
.LiveBoardInsert td {
    padding: 15px 35px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    text-align: left;
}

.LiveBoardInsert td {
    width: 240px;
}

/* 카드사 은행 계좌 번호 한 줄에 넣기 */
.LiveBoardInsert .account-inputs {
    display: flex;
    align-items: center; /* 요소를 수직으로 중앙 정렬 */
}

/* 선택적으로 각각의 입력 요소에 스타일을 추가할 수 있습니다 */
.LiveBoardInsert .account-inputs select {
    margin-right: 10px; /* 선택상자 오른쪽에 여백 추가 */
}

.LiveBoardInsert th {
    background-color: rgb(41, 43, 50);;
    color: white;
    text-align: center;
}

.LiveBoardInsert thead {
    .LiveBoardInsert th {
        background-color: #55608f;
    }
}

.LiveBoardInsert tbody {
    .LiveBoardInsert tr {
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    .LiveBoardInsert td {
        position: relative;

        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255, 255, 255, 0.2);
                z-index: -1;
            }
        }
    }
}

.LiveBoardInsert #textEditer {
    width: 900px;
}

.LiveBoardInsert .submitDiv {
    display: flex;
    justify-content: center;
}

.LiveBoardInsert .submitDiv > input{
    margin: 30px;
    background-color: rgb(41, 43, 50);
    width: 450px;
    color: white;
}

.LiveBoardInsert .submitDiv > input:hover{
    margin: 30px;
    scale: 103%;
    background-color: rgb(58, 59, 63);
    width: 450px;
    color: white;
}

.LiveBoardInsert .img-box > img{
    width: 306px;
    height: 390px;
    object-fit: cover;
    border-radius: 15px;
}

.LiveBoardInsert .bottomSubmit {
    text-align: center;
}

.LiveBoardInsert .centered-buttons {
    display: inline-block; 
}

.LiveBoardInsert .centered-buttons button {
    margin: 0 10px; 
    background-color: rgb(41, 43, 50);
    width: 200px;
    height: 50px;
    color: white;
    transition: background-color 0.3s, opacity 0.3s;
}
.LiveBoardInsert .centered-buttons button:hover {
    margin: 0 10px; 
    scale: 103%;
    background-color: rgb(58, 59, 63);
    width: 200px;
    height: 50px;
    color: white;
}


.ck-editor__editable {
    min-height: 500px;
}
